//  ВИДЕО О НАС

section.aboutus
	.container
		.title-group
			h2.section-title Посмотрите видео
			.title-group__flex
				h2.title-2--section о нашем бьюти-коворкинге
				.title-group__line
		.aboutus-content
			.video
				iframe(src="https://www.youtube.com/embed/jjF2Jwq1Rqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.aboutus-video__bg