//  УСЛОВИЯ

section.benefits#benefits
	.container
		.title-group.title-group--right
			h2.section-title Условия
			.title-group__flex
				.title-group__line
				h2.title-2--section комфорт, созданный для клиентов
		.benefits-block
			.row
				.col-md-6.col-lg-3
					.benefits-item
						.benefits-item__img
							img(src="../../img/icons/benefit1.png", alt="условия")
						.benefits-item__title Администратор
						.benefits-item__text Администратор встретит ваших клиентов, предложит чай, кофе, а также, может помочь ответить на звонки ваших клиентов.
				.col-md-6.col-lg-3
					.benefits-item
						.benefits-item__img
							img(src="../../img/icons/benefit2.png", alt="условия")
						.benefits-item__title Расходные материалы и средства
						.benefits-item__text У нас хороший выбор расходников, вы прямо на месте можете приобрести столько, сколько вам нужно
				.col-md-6.col-lg-3
					.benefits-item
						.benefits-item__img
							img(src="../../img/icons/benefit3.png", alt="условия")
						.benefits-item__title Сервис
						.benefits-item__text Для ваших клиентов - чай, кофе и вода. Бесплатный Wi-Fi и гардероб. Для мастеров - ячейки для хранения инструментов
				.col-md-6.col-lg-3
					.benefits-item
						.benefits-item__img
							img(src="../../img/icons/benefit4.png", alt="условия")
						.benefits-item__title Обучение
						.benefits-item__text Наши мастера постоянно проводят мастер-классы друг для друга, а мы приглашаем внешних экспертов — все для вашего развития


