// ФОРМА ОБРАТНОЙ СВЯЗИ

section.feedback
	.container
		.title-group.title-group--red
			h2.section-title Аренда рабочих мест
			.title-group__flex
				h2.title-2--section Поможем ответить на Ваши вопросы
				.title-group__line



		form.contact-form#contact-form

			.contact-form__group
				input.contact-form__input(type="text" name="user-name" required placeholder="Имя")
			.contact-form__group
				input.contact-form__input.phone(type="text" name="user-phone" required placeholder="Телефон")


			input.page-button(type="submit" name="form-button" value="Заказать консультацию")
