//  ФУТЕР НА ГЛАВНОЙ

footer.footer#footer
	.container
		.row
			.col-5.col-md-3.col-xl-2
				a(href="#top").footer-logo
					img(src="../../img/beaty-header.png", alt="logo")
			.col-7.col-md-9.col-xl-6.offset-xl-1
				.footer-block
					.footer-nav
						a.footer-nav__item(href="#working-place") Рабочие места
						a.footer-nav__item(href="#benefits") Условия
						a.footer-nav__item(href="#reviews") Отзывы
						a.footer-nav__item(href="#gallery") Фотогалерея
						a.footer-nav__item(href="#!") Контакты
					a(href="#working-place").page-button.page-button--footer.button-footer--desktop Перейти к бронированию
			a(href="#working-place").page-button.page-button--footer.button-footer--mobile Перейти к бронированию
			.col-xl-3
				.footer-block.footer-block--flex
					nav.footer-social
						a.social-item(href="#")
							i.fab.fa-facebook-f
						a.social-item(href="#")
							i.fab.fa-instagram
						a.social-item(href="#")
							i.fab.fa-vk
						a.social-item(href="#")
							i.fab.fa-google-plus-g
					.footer-copyright
						p &copy; 2019 Beaty
						a.footer-politic(href="#") Политика&nbsp;конфеденциальности

