//  ФОТОГАЛЕРЕЯ

section.gallery#gallery
	.container
		h2.section-title.section-title--center
			span Фотогаллерея
		.gallery-carousel__block
			.gallery-carousel-bg
			.owl-carousel.owl-carousel--gallery

				.owl-carousel__item
					img.gallery-img(src="../img/gallery/slider1.jpg", alt="фотогалерея")
				.owl-carousel__item
					img.gallery-img(src="../img/gallery/slider1.jpg", alt="фотогалерея")
				.owl-carousel__item
					img.gallery-img(src="../img/gallery/slider1.jpg", alt="фотогалерея")
				.owl-carousel__item
					img.gallery-img(src="../img/gallery/slider1.jpg", alt="фотогалерея")
