extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_aboutus.pug
	include ../sections/_working-place.pug
	include ../sections/_feedback.pug
	include ../sections/_benefits.pug
	include ../sections/_reviews.pug
	include ../sections/_gallery.pug
	include ../sections/_map.pug
	include ../sections/_footer.pug


block variables
	-var title = "Page";